/*
	jsrepo 1.41.2
	Installed from https://reactbits.dev/default/
	3-1-2025
*/

.circular-gallery {
  width: 50%;
  height: 100%;
  overflow: hidden;
  cursor: grab;
}

@media screen and (max-width: 768px) {

  .circular-gallery {
      width: 100%;
  }

}

.circular-gallery:active {
  cursor: grabbing;
}
