@import "tailwindcss";
/* Custom Theme */
@layer base {
  :root {
    --text-utama: #e0e0e0;
    --aksen: #1e1e1e;
    --interact: #bb86fc;
    --text-kecil: 0.8rem;
    background-color: #121212;
  }

  @layer themes {
    .dark {
      --text-utama: #e0e0e0;
      --aksen: #1e1e1e;
      --interact: #bb86fc;
      --text-kecil: 0.8rem;
      background-color: #121212;
    }
  }

  @layer themes {
    .light {
      --text-utama: #e0e0e0;
      --aksen: #1e1e1e;
      --interact: #bb86fc;
      --text-kecil: 0.8rem;
      background-color: #121212;
    }
  }

  h1,
  h2,
  h3 {
    font-family: "Montserrat", sans-serif;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
  }

  /* Hide scrollbar */
  ::-webkit-scrollbar {
    display: none;
  }
}

@layer components {
}

@keyframes marquee-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes marquee-right {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}

.animate-marquee-left {
  animation: marquee-left 40s linear infinite;
}

.animate-marquee-right {
  animation: marquee-right 40s linear infinite;
}

