.tech-stack-section{
    height: 100vh;
    display: flex;
    align-items: center;
    padding-left: 1rem;
}

.tech-text{
    width: 50%;
    font-size: xx-large;
    color: var(--text-utama);
}

@media screen and (max-width: 768px) {

    .tech-text {
        display: none;
    }

}