.tech-stack-section{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.small-container {
    display: none;
}

.tech-text {
    color: var(--interact);
    padding: 0;
    margin-bottom: 0;
}

@media screen and (max-width: 450px) {
    .small-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }
}